BIND_ADDRESS=127.0.0.1
E5_DEVICE=cuda
E5_WORKERS=1
E5_PORT=18101
USER_DEVICE=cuda
USER_WORKERS=1
USER_PORT=18102
USER_CPU_VARIANT=fp32
OCR_DEVICE=cuda
OCR_WORKERS=1
OCR_PORT=18103
WHISPER_DEVICE=cuda
WHISPER_WORKERS=1
WHISPER_PORT=18104
GIGAAM_WORKERS=1
GIGAAM_PORT=8000
EASYOCR_WORKERS=1
EASYOCR_PORT=8002
MAX_BATCH_SIZE=16
MAX_BATCH_TOKENS=8192
WHISPER_BATCH_SIZE=1
BATCH_WAIT_MS=10
MAX_QUEUE_ITEMS=256
MAX_REQUEST_ITEMS=64
REQUEST_TIMEOUT_S=600
CPU_THREADS=4
REC_BATCH_SIZE=6
MAX_AUDIO_DURATION_S=600
# Set the corresponding *_PREPARE_MODE=offline to prohibit missing-weight downloads.
